<h1>Stupid Coaching 🚀</h1>

<form action="/answer" data-turbo="false">
  <div class="form-group">
    <label for="askAnything">Ask your coach anything:</label>
    <input id = "askAnything" type="text" name="question_asked">
    <button type="submit" value="Ask!" class="btn btn-primary">Ask!</button>
  </div>
</form>
